
.copyrightText{
    margin: -10px;
}

.menuLastTab{
    border-right: none !important;
}

.article_bottom {
    line-height: 30px;
    margin-bottom: 20px;
    height: 30px;
    border-bottom: 1px solid #ccc;
}
 .article_bottom .more {
    float: right;
    height: 30px;
    background: #ddd;
    padding: 0 10px;
}
.article_bottom a {
    color: #777;
}
.articles .article_bottom .more:before {
    font-family: font-jade;
    content: '\e92f';
    font-size: 14px;
}
 .article_bottom .more span {
    display: none;
}

 .footerBootom {
     height: 140px;
     /*background-color: #dd4b39;*/
     margin-bottom: -63px;
     margin-top: -8px;
     background-color: black; /* For browsers that do not support gradients */
     background-image: linear-gradient(-90deg, black, maroon); /* Standard syntax (must be last) */
 }
 .headerlogo{
     height: 94px;
     width: 189px;
 }

.fa-ul>li>a:hover {

    color:#000000 !important;
}

.item-content>h2{
    color:#7c0000;
}

.bookHouseItem {
	
	text-align: center;
}
.bookHouseItem>h2{
	
	font-size : 18px;
}
 .page-loader {
    position: fixed;
    top: 0;
    bottom: 0 !important;
    left: 0;
    right: 0;
    background-color: #d35400; /* For browsers that do not support gradients */
	
    z-index: 2000;
    overflow: hidden;
    height: 100% !important;
}


.spinner {
    height: 50px;
    width: 50px;
    
    transform: translate(-50%);
    position: relative;
	background : #ffffff;
	margin: 300px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.spinner::after {
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    height: 50px;
    width: 50px;
    
    transform: rotate(45deg);
    animation: wheel 1s ease-in-out infinite;

}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


