/*-- OverRight css--*/
.skin-blue .main-header .navbar {
    background-color: #00466f;
	border-bottom: 2px solid #238bc8;
}
.skin-blue .main-header .logo {
    background-color: #00466f;
}
.main-sidebar{
	background-color: #222d32;
	border-right: 2px solid #238bc8;
}
.skin-blue .sidebar-menu > li > a {
	font-family: Verdana,sans-serif;
	font-size: 15px !important;
}
.skin-blue .sidebar-menu > li > a > span {
	margin-left: 19px;
}
.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
	font-size: 22px;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
	color: #8aa4af;
	font-family: Verdana,sans-serif;
	font-size: 16px !important;
}
.skin-blue .sidebar-menu .treeview-menu > li > a >i {
	font-size: 15px;
}
.skin-blue .sidebar-menu .treeview-menu > li > a >span {
	margin-left: 6px;
}
/*-- DataTabe Custom Style --*/

.dc-table-style a.btn-view, a.btn-edit, a.btn-detect{
    font-size: 20px;
    padding-right: 10px;
}

.dc-table-style a.btn-view{
	color: #357CA5;
}
.dc-table-style a.btn-view:hover{
	color: #3c8dbc;
}
.dc-table-style a.btn-edit{
	color: #008D4C;
}
.dc-table-style a.btn-edit:hover{
	color: #00a65a;
}
.dc-table-style a.btn-detect{
	color:#D33724;
}
.dc-table-style a.btn-detect:hover{
	color:#f56954;
}
body {
	font-family: Verdana,sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
}
.skin-blue .main-header .navbar .sidebar-toggle {
	color: #fff;
}
.skin-blue .main-header .navbar {
	height: 52px;
}
.bg-light-blue-active,.modal-header{
	background-color: #357ca5 !important;
	color: #ffffff !important;
}
.modal-content{
	opacity: 0.9 !important;
}

.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: pink;
}
.search::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
}
.search:-ms-input-placeholder { /* IE 10+ */
	font-size: 14px;
}
.search:-moz-placeholder { /* Firefox 18- */
	font-size: 14px;
}
/*-- Modal Custom Style --*/

.example-modal .modal {
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: block;
	z-index: 1;
}
.example-modal .modal {
	background: transparent !important;
}

/*
Table scroll bar custom*/
#table-wrapper {
	position:relative;

}
#table-scroll {
	height:165px;
	overflow:auto;
}
#table-wrapper table {
	width:100%;

}

#table-wrapper table thead th .text {
	position:absolute;
	top:-20px;
	z-index:2;
	height:10px;
	width:35%;
}
.padding-top-8{
	padding-top: 8px;
}
.margin-rl-10{
    margin: 0px 10px;
}
.margin-rl-5{
    margin: 0px 5px;
}
.margin-top-2{
	margin-top: 2px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
	background-color: #00466f;
	padding: 10px;
}
.borderless td, .borderless th {
	padding: 10px !important;
}
.borderless{
	margin-bottom: 0px !important;
	border: 1px solid #e3dbdb;
	border-collapse: unset;
	font-size: 16px;
}
.margin-none{
	margin: 0 !important;
}
.margin-top-10{
	margin-top: 10px !important;
}


.select2-container--default .select2-selection--single {
    height: 35px !important;
}
.select2-selection__choice {
    color: black !important;
}

@media only screen and (max-width: 480px) {
	.main-header{
		margin-bottom: 8% !important;
	}

	.custom-hide{
		display: none !important;
	}
}
.custom-table{
    font-size: 12px !important;
}
table.dataTable.no-footer {
    border-bottom: none !important;
}
.treeview-menu > li > a {
    margin-left: 30px;
}

.skin-blue .sidebar-menu .treeview-menu > li > a{
    font-size: 15px !important;
}

.nav-tabs-custom > .nav-tabs {
    border-bottom-color: #aeaeae;
}
.margin-bottom {
    margin-bottom: 15px !important;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f0efef;
}

.dataTables_empty {
    display: none;
}
